<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <title>Home</title>
</head>
<body>
    <nav>
        <h2>Password Manager</h2>
        <ul>
            <li><a href="/"><span>Home</span></a></li>
            <li><a href="/SignIn"><span>Login</span></a></li>
            <li><a href="/Registration"><span>Register</span></a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Password Manager</h1>
            <p class="lead">A Password Manager web application, which manages your passwords for you.</p>
            <hr class="my-4">
            <p>A password manager is essentially an encrypted digital vault that stores secure password login information you use to
            access apps and accounts on your mobile device, websites and other services.</p>

            <hr class="my-4">

            <h3 class="display-4">Why should you use this ?</h3>
            <p>The majority of people forget theire passwords and because of this they use <b>same password</b> on <b>different websites</b>.
            <p>If you are doing the same things. then congratulation we are here to provide you the solution about it.</p>

            <p>Password managers store your login information for all the websites.
             You can feel safe to share your passwords here, as your password is protected using an encryption algorithm</p>
        </div>
    </div>
</body>
</html>