<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <title>Profile</title>
</head>

    <body>
        <nav>
            <h4>Password Manager</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Profile">Profile</a></li>
                <li><a href="/auth/Logout">Logout</a></li>
            </ul>
        </nav>
        {{!-- <h1>Hiii</h1> --}}

        <div class="passwordtables">
                <h2 style="margin-left: 90px;">Password List</h2>
                <table class="table table-bordered" style="border: 5px solid; border-color:black; color: #000; background-color: azure;">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Field</th>
                            <th scope="col">Password</th>
                        </tr>
                    </thead>
                        {{#each results}}
                            <tbody>
                                <tr>
                                    <td>{{this.fieldName}}</td>
                                    <td>{{this.passwords}}</td>
                                </tr>
                            </tbody>
                        {{/each}}
                </table>
        </div>

    </body>
</html>